<ul class="card-list">
  <li *ngFor="let post of posts">
    <mat-card class="mat-elevation-z0">
      <mat-card-title>
        {{ post.title | titlecase }}
      </mat-card-title>
      <mat-card-content *ngIf="post.body.length <= 197">
        {{ post.body }}
      </mat-card-content>
      <mat-card-content *ngIf="post.body.length > 197">
        {{ post.body | slice:0:197 | sentencecase }}...
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="primary" [routerLink]="[post.id]">READ MORE</a>
        <a mat-button [routerLink]="[post.id]" [queryParams]="{edit: true}">EDIT</a>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>